/* Font Face */
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.ttf");
}

/* Global Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
}
