.install-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5em 0;
}

#install-button {
  margin-top: 1.5em;
  background-color: #4caf50;
  padding: 0.8em 1.5em;
  border: none;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.2s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#install-button:hover {
  background-color: #43a047;
}
